@import url("../shared/styles/tokens.css");
@import url("../shared/styles/base.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  color: inherit;
}

html,
body {
  height: 100%;
}
